body { 
  font-family: "Times Ext Roman", "Indic Times", "Doulos SIL", Tahoma, "Arial Unicode MS", Gentium;
  background: white;
}

p {
  border-top: 0in; border-bottom: 0in;
  padding-top: 0in; padding-bottom: 0in;
  margin-top: 0in; margin-bottom: 0.5cm;
}

div.impressum {
    margin: 0.5em;
    text-align: right;
}

a.line-number:visited {
    color: green;
}

div.extras a {
    font-size: 0.8em;
    padding-right: 1em;
    color: darkgreen;
}
div.extras {
    position: fixed;
    right: 0;
}

a.line-number {
    color: green;
    position: absolute;
    left: 0;
    width: 50%;
    text-align: left;
    text-indent: 0;
    font-weight: initial;
    font-size: 1em;
    display: none;
}

p:hover a.line-number {
    display: inline;
}

div.navigation span, span.context-toc {
    float: left;
    padding-top: 1.1em;
    margin: 0.5em;
    margin-bottom: 1em;
}

div.navigation {
    height: 100%;
    overflow: scroll;
}

div.navigation-container {
    height: 20%;
    float: left;
    position: fixed;
    top:0;
    left:0;
    border-bottom: solid 1px black;
    z-index: 500;
    width:100%;    
}

div.document-container {
    position:  fixed;
    top: 20%;
    height: 80%;
    width:100%;
    margin: 0;
    padding: 0;
}

div.document { 
    position: absolute; 
    overflow: auto;
    height: 100%;
    width: 99%;
}

.note {color: blue}
.bld {font-weight: bold; }
.paranum {font-weight: bold; }

.indent { font-size: 12pt; text-indent: 2em; margin-left: 3em;}

.bodytext { font-size: 12pt; text-indent: 2em;}

.hangnum { font-size: 12pt; margin-bottom: -0.75cm; text-indent: 2em;}

/* Namo tassa, and nitthita -- no unique structural distinction */
.centered { font-size: 12pt; text-align:center;}

.unindented { font-size: 12pt;}

.book { font-size: 21pt; text-align:center; font-weight: bold;}

.chapter { font-size: 18pt; text-align:center; font-weight: bold;}

.nikaya { font-size: 24pt; text-align:center; font-weight: bold;}

.title { font-size: 12pt; text-align:center; font-weight: bold;}

.subhead { font-size: 12pt; text-align:center; font-weight: bold;}

.subsubhead { font-size: 12pt; text-align:center; font-weight: bold;}

/* Gatha line 1 */
.gatha1 { font-size: 12pt; margin-bottom: 0em; margin-left: 4em;}

/* Gatha line 2 */
.gatha2 { font-size: 12pt; margin-bottom: 0em; margin-left: 4em;}

/* Gatha line 3 */
.gatha3 { font-size: 12pt; margin-bottom: 0em; margin-left: 4em;}

/* Gatha last line */
.gathalast { font-size: 12pt; margin-bottom: 0.5cm; margin-left: 4em;}